<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
    <div id="container">
        <div class="nav">
            <h1>PicFlow</h1>
            <a href="/posts/new">Create Post</a>
        </div>
        <div class="posts">
            <% for(post of posts) { %>
                <div class="post">
                    <h3><%= post.username %></h3>
                    <img src="<%= post.img %>" alt="">
                    <p>Caption: <%= post.caption %></p>
                    <div class="btn">
                        <a style="background-color:aliceblue" href="/posts/<%= post.id %>">View Post</a>
                        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>    
        </div>
    </div>
</body>
</html>
